@page
@model SignedOutModel
@{
    ViewData["Title"] = "Logged out";
}

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <h1>@ViewData["Title"]</h1>
    <p>
        You have successfully Logged out.
    </p>
</div>