@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <div class="container">
        <h2 class="display-3">SmartAC</h2>
        <h4 class="lead">
            Like if air conditioners had a brain. The greatest thing to happen to air conditioners since scented
            filters.
            View air conditioners, view their sensor data, be alerted of any issues, and resolve them remotely. Click
            <strong>Dashboard</strong> in the navigation bar to get started.
        </h4>
        <p class="text-muted">By <a href="https://brandonalexander.dev">Brandon Alexander</a> & <a
                href="https://theorem.co">Theorem,
                LLC</a></p>
        <p class="lead"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Home Owners</h2>
            <p>View your the status of your AC unit from anywhere. Keep track of issues with your unit before they
                become expensive problems. Never be surprised by sudden repairs again. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Manufacturers</h2>
            <p>Register devices safely and securely. Get critical insight into real-life performance. Instantly see
                warranty information. Tailor your product to the fast-paced world of heating and air conditioning.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Technicians</h2>
            <p>Diagnose issues and make repair recommendations quickly and easily, without ever having to send a
                technician on-site. Know what repairs are necessary before rolling trucks. Guarantee client
                satisfaction.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
    <hr>
</div> <!-- /container -->