@page
@{
    ViewData["Title"] = "Devices";
}
<h2>Login</h2>

<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post"
                class="form-horizontal" role="form">
                <div class="form-group">

                    <div class="form-group">
                        <label for="userInput">User</label>
                        <input class="form-control" name="username" id="userInput" placeholder="Enter Username">
                    </div>

                    <div class="form-group">
                        <label for="passwordInput">Password</label>
                        <input type="password" name="password" class="form-control" id="passwordInput"
                            placeholder="Password">
                    </div>


                    <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </section>
    </div>
</div>